<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welome to the Flask web page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% if name %}
        <h1>Hi {{ name }}!</h1>
        {% else %}
        <h1>Helloo, World!</h1>
        {% endif %}
        
    </head>
    <body>
        
        <p> 
            I this file. I will show you how to create a how to create a flask page using template.
            I use render template function from the Flask Module
        </p>
        <p>
            Hope you will like this page
        </p>
        <script src="" async defer></script>
    </body>
</html>